
  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Poppins:wght@400;700&display=swap');

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Dosis', sans-serif;
font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  background: #222;
   

}
.container{
   position: relative;
   max-width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-template-rows:  minmax(100px,auto);
   margin: 40px;
   grid-auto-flow: dense;
   grid-gap: 10px;
   
}
.content img{
   position: relative;
   max-width: 100px;
   margin-bottom: 10px;
   
}
.container .box{
background-color: #333;
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 2s; 
  transition-duration: ease-in;
  overflow: hidden;
}
.container .box:hover{
   background-color: #e91e63;
}

.container .box:nth-child(1){
   grid-column: span 2;
   grid-row: span 1;
}
.container .box:nth-child(2){
   grid-column: span 1;
   grid-row: span 2;
}
.container .box:nth-child(4){
   grid-column: span 1;
   grid-row: span 3;
}
.container .box:nth-child(7){
   grid-column: span 3;
   grid-row: span 1;
}
p{
   position: relative;
   left: -120%;
   overflow: hidden;
   transition: 2s;
   transition-delay: ease-in;
}
.box1:hover .p1  {
   left: 0%;
}

.box2:hover .p2  {
   left: 0%;
}
.box3:hover .p3  {
   left: 0%;
}
.box4:hover .p4  {
   left: 0%;
}
.box5:hover .p5  {
   left: 0%;
}
.box6:hover .p6  {
   left: 0%;
}
.box7:hover .p7  {
   left: 0%;
}
@media (max-width:991px) {
   .container{
      grid-template-columns: repeat(auto-fill, minmax(50%,1fr));
      grid-template-rows: minmax(auto, auto);
   }
   .container .box{
      grid-column: unset !important;
      grid-column: unset !important;
   }
}